<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bomeans.testirapi">

    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>

    <application
        android:name=".TestIRAPIApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateTVRemoteActivity" />
        <activity android:name=".CreateTVUniversalRemoteActivity" />
        <activity android:name=".CreateTVSmartPickerActivity" />
        <activity android:name=".CreateACRemoteActivity" />
        <activity android:name=".CreateACUniversalRemoteActivity" />
        <activity android:name=".CreateACPickerActivity" />
        <activity android:name=".LearnAndSendActivity" />
        <activity android:name=".LearnAndRecognizeActivity"></activity>
    </application>

</manifest>